.container {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

.head {
  background-color: rgb(0, 204, 255);
  color: white;
}

.body {
  background-color: rgba(214, 196, 196, 0.253);
}

.item {
  padding: 10px;
}

.name {
  padding: 10px;
}
